.todo {
  color: black;
  margin: 15px;
  padding: 10px 10px 10px 30px;
  background-color: #ffc000;
  text-align: left;
  border: none;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
