.todoForm {
  margin-top: 15px;
  max-width: 500px;
  margin: 15px auto;
}

.todoForm input {
  width: 50%;
}

.todoForm button {
  width: 140px;
}

.todoForm input,
.todoForm button {
  padding: 10px;
  margin: 5px;
  border: none;
  border-radius: 5px;
}
